<div class="sidebar" data-color="blue">
    <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
    <div class="logo">
        <a href="" class="simple-text logo-mini">
            BD
        </a>
        <a href="" class="simple-text logo-normal">
            EXEQUIALES
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="/asociados">
                    <i class="now-ui-icons business_badge"></i>
                    <p>Asociados</p>
                </a>
            </li>

        </ul>
    </div>
</div>